.button {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;

  background-color: blue;
  height: 100px;
  width: 200px;
  color: white;
  cursor: pointer;
  padding: 50px;
  size: 30px;
}
